USE [RF_ODIN]
GO
/****** Object:  Table [dbo].[tbl_DailyReward]    Script Date: 08.07.2022 18:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_DailyReward](
	[AccountSerial] [int] NOT NULL,
	[AccountName] [varchar](17) NOT NULL,
	[Day0] [int] NULL CONSTRAINT [DF_Table_1_Day0]  DEFAULT ((0)),
	[Day1] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day1]  DEFAULT ((0)),
	[Day2] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day2]  DEFAULT ((0)),
	[Day3] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day3]  DEFAULT ((0)),
	[Day4] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day4]  DEFAULT ((0)),
	[Day5] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day5]  DEFAULT ((0)),
	[Day6] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day6]  DEFAULT ((0)),
	[Day7] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day7]  DEFAULT ((0)),
	[Day8] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day8]  DEFAULT ((0)),
	[Day9] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day9]  DEFAULT ((0)),
	[Day10] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day10]  DEFAULT ((0)),
	[Day11] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day11]  DEFAULT ((0)),
	[Day12] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day12]  DEFAULT ((0)),
	[Day13] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day13]  DEFAULT ((0)),
	[Day14] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day14]  DEFAULT ((0)),
	[Day15] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day15]  DEFAULT ((0)),
	[Day16] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day16]  DEFAULT ((0)),
	[Day17] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day17]  DEFAULT ((0)),
	[Day18] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day18]  DEFAULT ((0)),
	[Day19] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day19]  DEFAULT ((0)),
	[Day20] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day20]  DEFAULT ((0)),
	[Day21] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day21]  DEFAULT ((0)),
	[Day22] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day22]  DEFAULT ((0)),
	[Day23] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day23]  DEFAULT ((0)),
	[Day24] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day24]  DEFAULT ((0)),
	[Day25] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day25]  DEFAULT ((0)),
	[Day26] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day26]  DEFAULT ((0)),
	[Day27] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day27]  DEFAULT ((0)),
	[Day28] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day28]  DEFAULT ((0)),
	[Day29] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day29]  DEFAULT ((0)),
	[Day30] [int] NULL CONSTRAINT [DF_tbl_DailyReward_Day30]  DEFAULT ((0))
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_storage]    Script Date: 08.07.2022 18:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_storage](
	[Serial] [int] NOT NULL CONSTRAINT [DF_tbl_storage_Serial]  DEFAULT ((-1)),
	[StorageNum] [tinyint] NOT NULL CONSTRAINT [DF_tbl_storage_DCK]  DEFAULT ((1)),
	[K0] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K0]  DEFAULT (0xFFFFFFFF),
	[D0] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D0]  DEFAULT ((0)),
	[U0] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U0]  DEFAULT (0x0FFFFFFF),
	[S0] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S0__76C9771D]  DEFAULT ((0)),
	[T0] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T0__77BD9B56]  DEFAULT (0xFFFFFFFF),
	[K1] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K1]  DEFAULT (0xFFFFFFFF),
	[D1] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D1]  DEFAULT ((0)),
	[U1] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U1]  DEFAULT (0x0FFFFFFF),
	[S1] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S1__78B1BF8F]  DEFAULT ((0)),
	[T1] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T1__79A5E3C8]  DEFAULT (0xFFFFFFFF),
	[K2] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K2]  DEFAULT (0xFFFFFFFF),
	[D2] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D2]  DEFAULT ((0)),
	[U2] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U2]  DEFAULT (0x0FFFFFFF),
	[S2] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S2__7A9A0801]  DEFAULT ((0)),
	[T2] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T2__7B8E2C3A]  DEFAULT (0xFFFFFFFF),
	[K3] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K3]  DEFAULT (0xFFFFFFFF),
	[D3] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D3]  DEFAULT ((0)),
	[U3] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U3]  DEFAULT (0x0FFFFFFF),
	[S3] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S3__7C825073]  DEFAULT ((0)),
	[T3] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T3__7D7674AC]  DEFAULT (0xFFFFFFFF),
	[K4] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K4]  DEFAULT (0xFFFFFFFF),
	[D4] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D4]  DEFAULT ((0)),
	[U4] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U4]  DEFAULT (0x0FFFFFFF),
	[S4] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S4__7E6A98E5]  DEFAULT ((0)),
	[T4] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T4__7F5EBD1E]  DEFAULT (0xFFFFFFFF),
	[K5] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K5]  DEFAULT (0xFFFFFFFF),
	[D5] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D5]  DEFAULT ((0)),
	[U5] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U5]  DEFAULT (0x0FFFFFFF),
	[S5] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S5__0052E157]  DEFAULT ((0)),
	[T5] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T5__01470590]  DEFAULT (0xFFFFFFFF),
	[K6] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K6]  DEFAULT (0xFFFFFFFF),
	[D6] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D6]  DEFAULT ((0)),
	[U6] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U6]  DEFAULT (0x0FFFFFFF),
	[S6] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S6__023B29C9]  DEFAULT ((0)),
	[T6] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T6__032F4E02]  DEFAULT (0xFFFFFFFF),
	[K7] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K7]  DEFAULT (0xFFFFFFFF),
	[D7] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D7]  DEFAULT ((0)),
	[U7] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U7]  DEFAULT (0x0FFFFFFF),
	[S7] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S7__0423723B]  DEFAULT ((0)),
	[T7] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T7__05179674]  DEFAULT (0xFFFFFFFF),
	[K8] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K8]  DEFAULT (0xFFFFFFFF),
	[D8] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D8]  DEFAULT ((0)),
	[U8] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U8]  DEFAULT (0x0FFFFFFF),
	[S8] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S8__060BBAAD]  DEFAULT ((0)),
	[T8] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T8__06FFDEE6]  DEFAULT (0xFFFFFFFF),
	[K9] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K9]  DEFAULT (0xFFFFFFFF),
	[D9] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D9]  DEFAULT ((0)),
	[U9] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U9]  DEFAULT (0x0FFFFFFF),
	[S9] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S9__07F4031F]  DEFAULT ((0)),
	[T9] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T9__08E82758]  DEFAULT (0xFFFFFFFF),
	[K10] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K10]  DEFAULT (0xFFFFFFFF),
	[D10] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D10]  DEFAULT ((0)),
	[U10] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U10]  DEFAULT (0x0FFFFFFF),
	[S10] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S10__09DC4B91]  DEFAULT ((0)),
	[T10] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T10__0AD06FCA]  DEFAULT (0xFFFFFFFF),
	[K11] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K11]  DEFAULT (0xFFFFFFFF),
	[D11] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D11]  DEFAULT ((0)),
	[U11] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U11]  DEFAULT (0x0FFFFFFF),
	[S11] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S11__0BC49403]  DEFAULT ((0)),
	[T11] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T11__0CB8B83C]  DEFAULT (0xFFFFFFFF),
	[K12] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K12]  DEFAULT (0xFFFFFFFF),
	[D12] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D12]  DEFAULT ((0)),
	[U12] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U12]  DEFAULT (0x0FFFFFFF),
	[S12] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S12__0DACDC75]  DEFAULT ((0)),
	[T12] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T12__0EA100AE]  DEFAULT (0xFFFFFFFF),
	[K13] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K13]  DEFAULT (0xFFFFFFFF),
	[D13] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D13]  DEFAULT ((0)),
	[U13] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U13]  DEFAULT (0x0FFFFFFF),
	[S13] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S13__0F9524E7]  DEFAULT ((0)),
	[T13] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T13__10894920]  DEFAULT (0xFFFFFFFF),
	[K14] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K14]  DEFAULT (0xFFFFFFFF),
	[D14] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D14]  DEFAULT ((0)),
	[U14] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U14]  DEFAULT (0x0FFFFFFF),
	[S14] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S14__117D6D59]  DEFAULT ((0)),
	[T14] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T14__12719192]  DEFAULT (0xFFFFFFFF),
	[K15] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K15]  DEFAULT (0xFFFFFFFF),
	[D15] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D15]  DEFAULT ((0)),
	[U15] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U15]  DEFAULT (0x0FFFFFFF),
	[S15] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S15__1365B5CB]  DEFAULT ((0)),
	[T15] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T15__1459DA04]  DEFAULT (0xFFFFFFFF),
	[K16] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K16]  DEFAULT (0xFFFFFFFF),
	[D16] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D16]  DEFAULT ((0)),
	[U16] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U16]  DEFAULT (0x0FFFFFFF),
	[S16] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S16__154DFE3D]  DEFAULT ((0)),
	[T16] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T16__16422276]  DEFAULT (0xFFFFFFFF),
	[K17] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K17]  DEFAULT (0xFFFFFFFF),
	[D17] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D17]  DEFAULT ((0)),
	[U17] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U17]  DEFAULT (0x0FFFFFFF),
	[S17] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S17__173646AF]  DEFAULT ((0)),
	[T17] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T17__182A6AE8]  DEFAULT (0xFFFFFFFF),
	[K18] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K18]  DEFAULT (0xFFFFFFFF),
	[D18] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D18]  DEFAULT ((0)),
	[U18] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U18]  DEFAULT (0x0FFFFFFF),
	[S18] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S18__191E8F21]  DEFAULT ((0)),
	[T18] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T18__1A12B35A]  DEFAULT (0xFFFFFFFF),
	[K19] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K19]  DEFAULT (0xFFFFFFFF),
	[D19] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D19]  DEFAULT ((0)),
	[U19] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U19]  DEFAULT (0x0FFFFFFF),
	[S19] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S19__1B06D793]  DEFAULT ((0)),
	[T19] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T19__1BFAFBCC]  DEFAULT (0xFFFFFFFF),
	[K20] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K20]  DEFAULT (0xFFFFFFFF),
	[D20] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D20]  DEFAULT ((0)),
	[U20] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U20]  DEFAULT (0x0FFFFFFF),
	[S20] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S20__1CEF2005]  DEFAULT ((0)),
	[T20] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T20__1DE3443E]  DEFAULT (0xFFFFFFFF),
	[K21] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K21]  DEFAULT (0xFFFFFFFF),
	[D21] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D21]  DEFAULT ((0)),
	[U21] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U21]  DEFAULT (0x0FFFFFFF),
	[S21] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S21__1ED76877]  DEFAULT ((0)),
	[T21] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T21__1FCB8CB0]  DEFAULT (0xFFFFFFFF),
	[K22] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K22]  DEFAULT (0xFFFFFFFF),
	[D22] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D22]  DEFAULT ((0)),
	[U22] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U22]  DEFAULT (0x0FFFFFFF),
	[S22] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S22__20BFB0E9]  DEFAULT ((0)),
	[T22] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T22__21B3D522]  DEFAULT (0xFFFFFFFF),
	[K23] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K23]  DEFAULT (0xFFFFFFFF),
	[D23] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D23]  DEFAULT ((0)),
	[U23] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U23]  DEFAULT (0x0FFFFFFF),
	[S23] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S23__22A7F95B]  DEFAULT ((0)),
	[T23] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T23__239C1D94]  DEFAULT (0xFFFFFFFF),
	[K24] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K24]  DEFAULT (0xFFFFFFFF),
	[D24] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D24]  DEFAULT ((0)),
	[U24] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U24]  DEFAULT (0x0FFFFFFF),
	[S24] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S24__249041CD]  DEFAULT ((0)),
	[T24] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T24__25846606]  DEFAULT (0xFFFFFFFF),
	[K25] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K25]  DEFAULT (0xFFFFFFFF),
	[D25] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D25]  DEFAULT ((0)),
	[U25] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U25]  DEFAULT (0x0FFFFFFF),
	[S25] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S25__26788A3F]  DEFAULT ((0)),
	[T25] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T25__276CAE78]  DEFAULT (0xFFFFFFFF),
	[K26] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K26]  DEFAULT (0xFFFFFFFF),
	[D26] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D26]  DEFAULT ((0)),
	[U26] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U26]  DEFAULT (0x0FFFFFFF),
	[S26] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S26__2860D2B1]  DEFAULT ((0)),
	[T26] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T26__2954F6EA]  DEFAULT (0xFFFFFFFF),
	[K27] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K27]  DEFAULT (0xFFFFFFFF),
	[D27] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D27]  DEFAULT ((0)),
	[U27] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U27]  DEFAULT (0x0FFFFFFF),
	[S27] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S27__2A491B23]  DEFAULT ((0)),
	[T27] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T27__2B3D3F5C]  DEFAULT (0xFFFFFFFF),
	[K28] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K28]  DEFAULT (0xFFFFFFFF),
	[D28] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D28]  DEFAULT ((0)),
	[U28] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U28]  DEFAULT (0x0FFFFFFF),
	[S28] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S28__2C316395]  DEFAULT ((0)),
	[T28] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T28__2D2587CE]  DEFAULT (0xFFFFFFFF),
	[K29] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K29]  DEFAULT (0xFFFFFFFF),
	[D29] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D29]  DEFAULT ((0)),
	[U29] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U29]  DEFAULT (0x0FFFFFFF),
	[S29] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S29__2E19AC07]  DEFAULT ((0)),
	[T29] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T29__2F0DD040]  DEFAULT (0xFFFFFFFF),
	[K30] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K30]  DEFAULT (0xFFFFFFFF),
	[D30] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D30]  DEFAULT ((0)),
	[U30] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U30]  DEFAULT (0x0FFFFFFF),
	[S30] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S30__3001F479]  DEFAULT ((0)),
	[T30] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T30__30F618B2]  DEFAULT (0xFFFFFFFF),
	[K31] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K31]  DEFAULT (0xFFFFFFFF),
	[D31] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D31]  DEFAULT ((0)),
	[U31] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U31]  DEFAULT (0x0FFFFFFF),
	[S31] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S31__31EA3CEB]  DEFAULT ((0)),
	[T31] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T31__32DE6124]  DEFAULT (0xFFFFFFFF),
	[K32] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K32]  DEFAULT (0xFFFFFFFF),
	[D32] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D32]  DEFAULT ((0)),
	[U32] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U32]  DEFAULT (0x0FFFFFFF),
	[S32] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S32__33D2855D]  DEFAULT ((0)),
	[T32] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T32__34C6A996]  DEFAULT (0xFFFFFFFF),
	[K33] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K33]  DEFAULT (0xFFFFFFFF),
	[D33] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D33]  DEFAULT ((0)),
	[U33] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U33]  DEFAULT (0x0FFFFFFF),
	[S33] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S33__35BACDCF]  DEFAULT ((0)),
	[T33] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T33__36AEF208]  DEFAULT (0xFFFFFFFF),
	[K34] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K34]  DEFAULT (0xFFFFFFFF),
	[D34] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D34]  DEFAULT ((0)),
	[U34] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U34]  DEFAULT (0x0FFFFFFF),
	[S34] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S34__37A31641]  DEFAULT ((0)),
	[T34] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T34__38973A7A]  DEFAULT (0xFFFFFFFF),
	[K35] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K35]  DEFAULT (0xFFFFFFFF),
	[D35] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D35]  DEFAULT ((0)),
	[U35] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U35]  DEFAULT (0x0FFFFFFF),
	[S35] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S35__398B5EB3]  DEFAULT ((0)),
	[T35] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T35__3A7F82EC]  DEFAULT (0xFFFFFFFF),
	[K36] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K36]  DEFAULT (0xFFFFFFFF),
	[D36] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D36]  DEFAULT ((0)),
	[U36] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U36]  DEFAULT (0x0FFFFFFF),
	[S36] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S36__3B73A725]  DEFAULT ((0)),
	[T36] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T36__3C67CB5E]  DEFAULT (0xFFFFFFFF),
	[K37] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K37]  DEFAULT (0xFFFFFFFF),
	[D37] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D37]  DEFAULT ((0)),
	[U37] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U37]  DEFAULT (0x0FFFFFFF),
	[S37] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S37__3D5BEF97]  DEFAULT ((0)),
	[T37] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T37__3E5013D0]  DEFAULT (0xFFFFFFFF),
	[K38] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K38]  DEFAULT (0xFFFFFFFF),
	[D38] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D38]  DEFAULT ((0)),
	[U38] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U38]  DEFAULT (0x0FFFFFFF),
	[S38] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S38__3F443809]  DEFAULT ((0)),
	[T38] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T38__40385C42]  DEFAULT (0xFFFFFFFF),
	[K39] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K39]  DEFAULT (0xFFFFFFFF),
	[D39] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D39]  DEFAULT ((0)),
	[U39] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U39]  DEFAULT (0x0FFFFFFF),
	[S39] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S39__412C807B]  DEFAULT ((0)),
	[T39] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T39__4220A4B4]  DEFAULT (0xFFFFFFFF),
	[K40] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K40]  DEFAULT (0xFFFFFFFF),
	[D40] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D40]  DEFAULT ((0)),
	[U40] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U40]  DEFAULT (0x0FFFFFFF),
	[S40] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S40__4314C8ED]  DEFAULT ((0)),
	[T40] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T40__4408ED26]  DEFAULT (0xFFFFFFFF),
	[K41] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K41]  DEFAULT (0xFFFFFFFF),
	[D41] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D41]  DEFAULT ((0)),
	[U41] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U41]  DEFAULT (0x0FFFFFFF),
	[S41] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S41__44FD115F]  DEFAULT ((0)),
	[T41] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T41__45F13598]  DEFAULT (0xFFFFFFFF),
	[K42] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K42]  DEFAULT (0xFFFFFFFF),
	[D42] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D42]  DEFAULT ((0)),
	[U42] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U42]  DEFAULT (0x0FFFFFFF),
	[S42] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S42__46E559D1]  DEFAULT ((0)),
	[T42] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T42__47D97E0A]  DEFAULT (0xFFFFFFFF),
	[K43] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K43]  DEFAULT (0xFFFFFFFF),
	[D43] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D43]  DEFAULT ((0)),
	[U43] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U43]  DEFAULT (0x0FFFFFFF),
	[S43] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S43__48CDA243]  DEFAULT ((0)),
	[T43] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T43__49C1C67C]  DEFAULT (0xFFFFFFFF),
	[K44] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K44]  DEFAULT (0xFFFFFFFF),
	[D44] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D44]  DEFAULT ((0)),
	[U44] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U44]  DEFAULT (0x0FFFFFFF),
	[S44] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S44__4AB5EAB5]  DEFAULT ((0)),
	[T44] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T44__4BAA0EEE]  DEFAULT (0xFFFFFFFF),
	[K45] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K45]  DEFAULT (0xFFFFFFFF),
	[D45] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D45]  DEFAULT ((0)),
	[U45] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U45]  DEFAULT (0x0FFFFFFF),
	[S45] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S45__4C9E3327]  DEFAULT ((0)),
	[T45] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T45__4D925760]  DEFAULT (0xFFFFFFFF),
	[K46] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K46]  DEFAULT (0xFFFFFFFF),
	[D46] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D46]  DEFAULT ((0)),
	[U46] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U46]  DEFAULT (0x0FFFFFFF),
	[S46] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S46__4E867B99]  DEFAULT ((0)),
	[T46] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T46__4F7A9FD2]  DEFAULT (0xFFFFFFFF),
	[K47] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K47]  DEFAULT (0xFFFFFFFF),
	[D47] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D47]  DEFAULT ((0)),
	[U47] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U47]  DEFAULT (0x0FFFFFFF),
	[S47] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S47__506EC40B]  DEFAULT ((0)),
	[T47] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T47__5162E844]  DEFAULT (0xFFFFFFFF),
	[K48] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K48]  DEFAULT (0xFFFFFFFF),
	[D48] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D48]  DEFAULT ((0)),
	[U48] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U48]  DEFAULT (0x0FFFFFFF),
	[S48] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S48__52570C7D]  DEFAULT ((0)),
	[T48] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T48__534B30B6]  DEFAULT (0xFFFFFFFF),
	[K49] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K49]  DEFAULT (0xFFFFFFFF),
	[D49] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D49]  DEFAULT ((0)),
	[U49] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U49]  DEFAULT (0x0FFFFFFF),
	[S49] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S49__543F54EF]  DEFAULT ((0)),
	[T49] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T49__55337928]  DEFAULT (0xFFFFFFFF),
	[K50] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K50]  DEFAULT (0xFFFFFFFF),
	[D50] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D50]  DEFAULT ((0)),
	[U50] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U50]  DEFAULT (0x0FFFFFFF),
	[S50] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S50__56279D61]  DEFAULT ((0)),
	[T50] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T50__571BC19A]  DEFAULT (0xFFFFFFFF),
	[K51] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K51]  DEFAULT (0xFFFFFFFF),
	[D51] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D51]  DEFAULT ((0)),
	[U51] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U51]  DEFAULT (0x0FFFFFFF),
	[S51] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S51__580FE5D3]  DEFAULT ((0)),
	[T51] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T51__59040A0C]  DEFAULT (0xFFFFFFFF),
	[K52] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K52]  DEFAULT (0xFFFFFFFF),
	[D52] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D52]  DEFAULT ((0)),
	[U52] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U52]  DEFAULT (0x0FFFFFFF),
	[S52] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S52__59F82E45]  DEFAULT ((0)),
	[T52] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T52__5AEC527E]  DEFAULT (0xFFFFFFFF),
	[K53] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K53]  DEFAULT (0xFFFFFFFF),
	[D53] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D53]  DEFAULT ((0)),
	[U53] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U53]  DEFAULT (0x0FFFFFFF),
	[S53] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S53__5BE076B7]  DEFAULT ((0)),
	[T53] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T53__5CD49AF0]  DEFAULT (0xFFFFFFFF),
	[K54] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K54]  DEFAULT (0xFFFFFFFF),
	[D54] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D54]  DEFAULT ((0)),
	[U54] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U54]  DEFAULT (0x0FFFFFFF),
	[S54] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S54__5DC8BF29]  DEFAULT ((0)),
	[T54] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T54__5EBCE362]  DEFAULT (0xFFFFFFFF),
	[K55] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K55]  DEFAULT (0xFFFFFFFF),
	[D55] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D55]  DEFAULT ((0)),
	[U55] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U55]  DEFAULT (0x0FFFFFFF),
	[S55] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S55__5FB1079B]  DEFAULT ((0)),
	[T55] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T55__60A52BD4]  DEFAULT (0xFFFFFFFF),
	[K56] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K56]  DEFAULT (0xFFFFFFFF),
	[D56] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D56]  DEFAULT ((0)),
	[U56] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U56]  DEFAULT (0x0FFFFFFF),
	[S56] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S56__6199500D]  DEFAULT ((0)),
	[T56] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T56__628D7446]  DEFAULT (0xFFFFFFFF),
	[K57] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K57]  DEFAULT (0xFFFFFFFF),
	[D57] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D57]  DEFAULT ((0)),
	[U57] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U57]  DEFAULT (0x0FFFFFFF),
	[S57] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S57__6381987F]  DEFAULT ((0)),
	[T57] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T57__6475BCB8]  DEFAULT (0xFFFFFFFF),
	[K58] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K58]  DEFAULT (0xFFFFFFFF),
	[D58] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D58]  DEFAULT ((0)),
	[U58] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U58]  DEFAULT (0x0FFFFFFF),
	[S58] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S58__6569E0F1]  DEFAULT ((0)),
	[T58] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T58__665E052A]  DEFAULT (0xFFFFFFFF),
	[K59] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K59]  DEFAULT (0xFFFFFFFF),
	[D59] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D59]  DEFAULT ((0)),
	[U59] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U59]  DEFAULT (0x0FFFFFFF),
	[S59] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S59__67522963]  DEFAULT ((0)),
	[T59] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T59__68464D9C]  DEFAULT (0xFFFFFFFF),
	[K60] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K60]  DEFAULT (0xFFFFFFFF),
	[D60] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D60]  DEFAULT ((0)),
	[U60] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U60]  DEFAULT (0x0FFFFFFF),
	[S60] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S60__693A71D5]  DEFAULT ((0)),
	[T60] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T60__6A2E960E]  DEFAULT (0xFFFFFFFF),
	[K61] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K61]  DEFAULT (0xFFFFFFFF),
	[D61] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D61]  DEFAULT ((0)),
	[U61] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U61]  DEFAULT (0x0FFFFFFF),
	[S61] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S61__6B22BA47]  DEFAULT ((0)),
	[T61] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T61__6C16DE80]  DEFAULT (0xFFFFFFFF),
	[K62] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K62]  DEFAULT (0xFFFFFFFF),
	[D62] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D62]  DEFAULT ((0)),
	[U62] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U62]  DEFAULT (0x0FFFFFFF),
	[S62] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S62__6D0B02B9]  DEFAULT ((0)),
	[T62] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T62__6DFF26F2]  DEFAULT (0xFFFFFFFF),
	[K63] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K63]  DEFAULT (0xFFFFFFFF),
	[D63] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D63]  DEFAULT ((0)),
	[U63] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U63]  DEFAULT (0x0FFFFFFF),
	[S63] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S63__6EF34B2B]  DEFAULT ((0)),
	[T63] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T63__6FE76F64]  DEFAULT (0xFFFFFFFF),
	[K64] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K64]  DEFAULT (0xFFFFFFFF),
	[D64] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D64]  DEFAULT ((0)),
	[U64] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U64]  DEFAULT (0x0FFFFFFF),
	[S64] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S64__70DB939D]  DEFAULT ((0)),
	[T64] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T64__71CFB7D6]  DEFAULT (0xFFFFFFFF),
	[K65] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K65]  DEFAULT (0xFFFFFFFF),
	[D65] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D65]  DEFAULT ((0)),
	[U65] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U65]  DEFAULT (0x0FFFFFFF),
	[S65] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S65__72C3DC0F]  DEFAULT ((0)),
	[T65] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T65__73B80048]  DEFAULT (0xFFFFFFFF),
	[K66] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K66]  DEFAULT (0xFFFFFFFF),
	[D66] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D66]  DEFAULT ((0)),
	[U66] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U66]  DEFAULT (0x0FFFFFFF),
	[S66] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S66__74AC2481]  DEFAULT ((0)),
	[T66] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T66__75A048BA]  DEFAULT (0xFFFFFFFF),
	[K67] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K67]  DEFAULT (0xFFFFFFFF),
	[D67] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D67]  DEFAULT ((0)),
	[U67] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U67]  DEFAULT (0x0FFFFFFF),
	[S67] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S67__76946CF3]  DEFAULT ((0)),
	[T67] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T67__7788912C]  DEFAULT (0xFFFFFFFF),
	[K68] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K68]  DEFAULT (0xFFFFFFFF),
	[D68] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D68]  DEFAULT ((0)),
	[U68] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U68]  DEFAULT (0x0FFFFFFF),
	[S68] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S68__787CB565]  DEFAULT ((0)),
	[T68] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T68__7970D99E]  DEFAULT (0xFFFFFFFF),
	[K69] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K69]  DEFAULT (0xFFFFFFFF),
	[D69] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D69]  DEFAULT ((0)),
	[U69] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U69]  DEFAULT (0x0FFFFFFF),
	[S69] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S69__7A64FDD7]  DEFAULT ((0)),
	[T69] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T69__7B592210]  DEFAULT (0xFFFFFFFF),
	[K70] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K70]  DEFAULT (0xFFFFFFFF),
	[D70] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D70]  DEFAULT ((0)),
	[U70] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U70]  DEFAULT (0x0FFFFFFF),
	[S70] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S70__7C4D4649]  DEFAULT ((0)),
	[T70] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T70__7D416A82]  DEFAULT (0xFFFFFFFF),
	[K71] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K71]  DEFAULT (0xFFFFFFFF),
	[D71] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D71]  DEFAULT ((0)),
	[U71] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U71]  DEFAULT (0x0FFFFFFF),
	[S71] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S71__7E358EBB]  DEFAULT ((0)),
	[T71] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T71__7F29B2F4]  DEFAULT (0xFFFFFFFF),
	[K72] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K72]  DEFAULT (0xFFFFFFFF),
	[D72] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D72]  DEFAULT ((0)),
	[U72] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U72]  DEFAULT (0x0FFFFFFF),
	[S72] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S72__001DD72D]  DEFAULT ((0)),
	[T72] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T72__0111FB66]  DEFAULT (0xFFFFFFFF),
	[K73] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K73]  DEFAULT (0xFFFFFFFF),
	[D73] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D73]  DEFAULT ((0)),
	[U73] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U73]  DEFAULT (0x0FFFFFFF),
	[S73] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S73__02061F9F]  DEFAULT ((0)),
	[T73] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T73__02FA43D8]  DEFAULT (0xFFFFFFFF),
	[K74] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K74]  DEFAULT (0xFFFFFFFF),
	[D74] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D74]  DEFAULT ((0)),
	[U74] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U74]  DEFAULT (0x0FFFFFFF),
	[S74] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S74__03EE6811]  DEFAULT ((0)),
	[T74] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T74__04E28C4A]  DEFAULT (0xFFFFFFFF),
	[K75] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K75]  DEFAULT (0xFFFFFFFF),
	[D75] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D75]  DEFAULT ((0)),
	[U75] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U75]  DEFAULT (0x0FFFFFFF),
	[S75] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S75__05D6B083]  DEFAULT ((0)),
	[T75] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T75__06CAD4BC]  DEFAULT (0xFFFFFFFF),
	[K76] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K76]  DEFAULT (0xFFFFFFFF),
	[D76] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D76]  DEFAULT ((0)),
	[U76] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U76]  DEFAULT (0x0FFFFFFF),
	[S76] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S76__07BEF8F5]  DEFAULT ((0)),
	[T76] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T76__08B31D2E]  DEFAULT (0xFFFFFFFF),
	[K77] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K77]  DEFAULT (0xFFFFFFFF),
	[D77] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D77]  DEFAULT ((0)),
	[U77] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U77]  DEFAULT (0x0FFFFFFF),
	[S77] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S77__09A74167]  DEFAULT ((0)),
	[T77] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T77__0A9B65A0]  DEFAULT (0xFFFFFFFF),
	[K78] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K78]  DEFAULT (0xFFFFFFFF),
	[D78] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D78]  DEFAULT ((0)),
	[U78] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U78]  DEFAULT (0x0FFFFFFF),
	[S78] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S78__0B8F89D9]  DEFAULT ((0)),
	[T78] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T78__0C83AE12]  DEFAULT (0xFFFFFFFF),
	[K79] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K79]  DEFAULT (0xFFFFFFFF),
	[D79] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D79]  DEFAULT ((0)),
	[U79] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U79]  DEFAULT (0x0FFFFFFF),
	[S79] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S79__0D77D24B]  DEFAULT ((0)),
	[T79] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T79__0E6BF684]  DEFAULT (0xFFFFFFFF),
	[K80] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K80]  DEFAULT (0xFFFFFFFF),
	[D80] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D80]  DEFAULT ((0)),
	[U80] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U80]  DEFAULT (0x0FFFFFFF),
	[S80] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S80__0F601ABD]  DEFAULT ((0)),
	[T80] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T80__10543EF6]  DEFAULT (0xFFFFFFFF),
	[K81] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K81]  DEFAULT (0xFFFFFFFF),
	[D81] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D81]  DEFAULT ((0)),
	[U81] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U81]  DEFAULT (0x0FFFFFFF),
	[S81] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S81__1148632F]  DEFAULT ((0)),
	[T81] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T81__123C8768]  DEFAULT (0xFFFFFFFF),
	[K82] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K82]  DEFAULT (0xFFFFFFFF),
	[D82] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D82]  DEFAULT ((0)),
	[U82] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U82]  DEFAULT (0x0FFFFFFF),
	[S82] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S82__1330ABA1]  DEFAULT ((0)),
	[T82] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T82__1424CFDA]  DEFAULT (0xFFFFFFFF),
	[K83] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K83]  DEFAULT (0xFFFFFFFF),
	[D83] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D83]  DEFAULT ((0)),
	[U83] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U83]  DEFAULT (0x0FFFFFFF),
	[S83] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S83__1518F413]  DEFAULT ((0)),
	[T83] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T83__160D184C]  DEFAULT (0xFFFFFFFF),
	[K84] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K84]  DEFAULT (0xFFFFFFFF),
	[D84] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D84]  DEFAULT ((0)),
	[U84] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U84]  DEFAULT (0x0FFFFFFF),
	[S84] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S84__17013C85]  DEFAULT ((0)),
	[T84] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T84__17F560BE]  DEFAULT (0xFFFFFFFF),
	[K85] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K85]  DEFAULT (0xFFFFFFFF),
	[D85] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D85]  DEFAULT ((0)),
	[U85] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U85]  DEFAULT (0x0FFFFFFF),
	[S85] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S85__18E984F7]  DEFAULT ((0)),
	[T85] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T85__19DDA930]  DEFAULT (0xFFFFFFFF),
	[K86] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K86]  DEFAULT (0xFFFFFFFF),
	[D86] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D86]  DEFAULT ((0)),
	[U86] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U86]  DEFAULT (0x0FFFFFFF),
	[S86] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S86__1AD1CD69]  DEFAULT ((0)),
	[T86] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T86__1BC5F1A2]  DEFAULT (0xFFFFFFFF),
	[K87] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K87]  DEFAULT (0xFFFFFFFF),
	[D87] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D87]  DEFAULT ((0)),
	[U87] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U87]  DEFAULT (0x0FFFFFFF),
	[S87] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S87__1CBA15DB]  DEFAULT ((0)),
	[T87] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T87__1DAE3A14]  DEFAULT (0xFFFFFFFF),
	[K88] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K88]  DEFAULT (0xFFFFFFFF),
	[D88] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D88]  DEFAULT ((0)),
	[U88] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U88]  DEFAULT (0x0FFFFFFF),
	[S88] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S88__1EA25E4D]  DEFAULT ((0)),
	[T88] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T88__1F968286]  DEFAULT (0xFFFFFFFF),
	[K89] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K89]  DEFAULT (0xFFFFFFFF),
	[D89] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D89]  DEFAULT ((0)),
	[U89] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U89]  DEFAULT (0x0FFFFFFF),
	[S89] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S89__208AA6BF]  DEFAULT ((0)),
	[T89] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T89__217ECAF8]  DEFAULT (0xFFFFFFFF),
	[K90] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K90]  DEFAULT (0xFFFFFFFF),
	[D90] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D90]  DEFAULT ((0)),
	[U90] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U90]  DEFAULT (0x0FFFFFFF),
	[S90] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S90__2272EF31]  DEFAULT ((0)),
	[T90] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T90__2367136A]  DEFAULT (0xFFFFFFFF),
	[K91] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K91]  DEFAULT (0xFFFFFFFF),
	[D91] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D91]  DEFAULT ((0)),
	[U91] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U91]  DEFAULT (0x0FFFFFFF),
	[S91] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S91__245B37A3]  DEFAULT ((0)),
	[T91] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T91__254F5BDC]  DEFAULT (0xFFFFFFFF),
	[K92] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K92]  DEFAULT (0xFFFFFFFF),
	[D92] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D92]  DEFAULT ((0)),
	[U92] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U92]  DEFAULT (0x0FFFFFFF),
	[S92] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S92__26438015]  DEFAULT ((0)),
	[T92] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T92__2737A44E]  DEFAULT (0xFFFFFFFF),
	[K93] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K93]  DEFAULT (0xFFFFFFFF),
	[D93] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D93]  DEFAULT ((0)),
	[U93] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U93]  DEFAULT (0x0FFFFFFF),
	[S93] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S93__282BC887]  DEFAULT ((0)),
	[T93] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T93__291FECC0]  DEFAULT (0xFFFFFFFF),
	[K94] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K94]  DEFAULT (0xFFFFFFFF),
	[D94] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D94]  DEFAULT ((0)),
	[U94] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U94]  DEFAULT (0x0FFFFFFF),
	[S94] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S94__2A1410F9]  DEFAULT ((0)),
	[T94] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T94__2B083532]  DEFAULT (0xFFFFFFFF),
	[K95] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K95]  DEFAULT (0xFFFFFFFF),
	[D95] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D95]  DEFAULT ((0)),
	[U95] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U95]  DEFAULT (0x0FFFFFFF),
	[S95] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S95__2BFC596B]  DEFAULT ((0)),
	[T95] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T95__2CF07DA4]  DEFAULT (0xFFFFFFFF),
	[K96] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K96]  DEFAULT (0xFFFFFFFF),
	[D96] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D96]  DEFAULT ((0)),
	[U96] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U96]  DEFAULT (0x0FFFFFFF),
	[S96] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S96__2DE4A1DD]  DEFAULT ((0)),
	[T96] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T96__2ED8C616]  DEFAULT (0xFFFFFFFF),
	[K97] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K97]  DEFAULT (0xFFFFFFFF),
	[D97] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D97]  DEFAULT ((0)),
	[U97] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U97]  DEFAULT (0x0FFFFFFF),
	[S97] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S97__2FCCEA4F]  DEFAULT ((0)),
	[T97] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T97__30C10E88]  DEFAULT (0xFFFFFFFF),
	[K98] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K98]  DEFAULT (0xFFFFFFFF),
	[D98] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D98]  DEFAULT ((0)),
	[U98] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U98]  DEFAULT (0x0FFFFFFF),
	[S98] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S98__31B532C1]  DEFAULT ((0)),
	[T98] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T98__32A956FA]  DEFAULT (0xFFFFFFFF),
	[K99] [int] NOT NULL CONSTRAINT [DF_tbl_storage_K99]  DEFAULT (0xFFFFFFFF),
	[D99] [bigint] NOT NULL CONSTRAINT [DF_tbl_storage_D99]  DEFAULT ((0)),
	[U99] [int] NOT NULL CONSTRAINT [DF_tbl_storage_U99]  DEFAULT (0x0FFFFFFF),
	[S99] [bigint] NOT NULL CONSTRAINT [DF__tbl_storage__S99__339D7B33]  DEFAULT ((0)),
	[T99] [int] NOT NULL CONSTRAINT [DF__tbl_storage__T99__34919F6C]  DEFAULT (0xFFFFFFFF),
 CONSTRAINT [PK_tbl_storage] PRIMARY KEY CLUSTERED 
(
	[Serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[tbl_costume]    Script Date: 08.07.2022 18:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_costume](
	[Serial] [int] NOT NULL CONSTRAINT [DF_tbl_costume_Serial]  DEFAULT ((-1)),
	[K0] [int] NOT NULL CONSTRAINT [DF_tbl_costume_K0]  DEFAULT (0xFFFFFFFF),
	[D0] [bigint] NOT NULL CONSTRAINT [DF_tbl_costume_D0]  DEFAULT ((0)),
	[U0] [int] NOT NULL CONSTRAINT [DF_tbl_costume_U0]  DEFAULT (0x0FFFFFFF),
	[S0] [bigint] NOT NULL CONSTRAINT [DF__tbl_costume__S0__76C9771D]  DEFAULT ((0)),
	[T0] [int] NOT NULL CONSTRAINT [DF__tbl_costume__T0__77BD9B56]  DEFAULT (0xFFFFFFFF),
	[K1] [int] NOT NULL CONSTRAINT [DF_tbl_costume_K1]  DEFAULT (0xFFFFFFFF),
	[D1] [bigint] NOT NULL CONSTRAINT [DF_tbl_costume_D1]  DEFAULT ((0)),
	[U1] [int] NOT NULL CONSTRAINT [DF_tbl_costume_U1]  DEFAULT (0x0FFFFFFF),
	[S1] [bigint] NOT NULL CONSTRAINT [DF__tbl_costume__S1__78B1BF8F]  DEFAULT ((0)),
	[T1] [int] NOT NULL CONSTRAINT [DF__tbl_costume__T1__79A5E3C8]  DEFAULT (0xFFFFFFFF),
	[K2] [int] NOT NULL CONSTRAINT [DF_tbl_costume_K2]  DEFAULT (0xFFFFFFFF),
	[D2] [bigint] NOT NULL CONSTRAINT [DF_tbl_costume_D2]  DEFAULT ((0)),
	[U2] [int] NOT NULL CONSTRAINT [DF_tbl_costume_U2]  DEFAULT (0x0FFFFFFF),
	[S2] [bigint] NOT NULL CONSTRAINT [DF__tbl_costume__S2__7A9A0801]  DEFAULT ((0)),
	[T2] [int] NOT NULL CONSTRAINT [DF__tbl_costume__T2__7B8E2C3A]  DEFAULT (0xFFFFFFFF),
	[K3] [int] NOT NULL CONSTRAINT [DF_tbl_costume_K3]  DEFAULT (0xFFFFFFFF),
	[D3] [bigint] NOT NULL CONSTRAINT [DF_tbl_costume_D3]  DEFAULT ((0)),
	[U3] [int] NOT NULL CONSTRAINT [DF_tbl_costume_U3]  DEFAULT (0x0FFFFFFF),
	[S3] [bigint] NOT NULL CONSTRAINT [DF__tbl_costume__S3__7C825073]  DEFAULT ((0)),
	[T3] [int] NOT NULL CONSTRAINT [DF__tbl_costume__T3__7D7674AC]  DEFAULT (0xFFFFFFFF),
	[K4] [int] NOT NULL CONSTRAINT [DF_tbl_costume_K4]  DEFAULT (0xFFFFFFFF),
	[D4] [bigint] NOT NULL CONSTRAINT [DF_tbl_costume_D4]  DEFAULT ((0)),
	[U4] [int] NOT NULL CONSTRAINT [DF_tbl_costume_U4]  DEFAULT (0x0FFFFFFF),
	[S4] [bigint] NOT NULL CONSTRAINT [DF__tbl_costume__S4__7E6A98E5]  DEFAULT ((0)),
	[T4] [int] NOT NULL CONSTRAINT [DF__tbl_costume__T4__7F5EBD1E]  DEFAULT (0xFFFFFFFF),
	[K5] [int] NOT NULL CONSTRAINT [DF_tbl_costume_K5]  DEFAULT (0xFFFFFFFF),
	[D5] [bigint] NOT NULL CONSTRAINT [DF_tbl_costume_D5]  DEFAULT ((0)),
	[U5] [int] NOT NULL CONSTRAINT [DF_tbl_costume_U5]  DEFAULT (0x0FFFFFFF),
	[S5] [bigint] NOT NULL CONSTRAINT [DF__tbl_costume__S5__0052E157]  DEFAULT ((0)),
	[T5] [int] NOT NULL CONSTRAINT [DF__tbl_costume__T5__01470590]  DEFAULT (0xFFFFFFFF),
	[K6] [int] NOT NULL CONSTRAINT [DF_tbl_costume_K6]  DEFAULT (0xFFFFFFFF),
	[D6] [bigint] NOT NULL CONSTRAINT [DF_tbl_costume_D6]  DEFAULT ((0)),
	[U6] [int] NOT NULL CONSTRAINT [DF_tbl_costume_U6]  DEFAULT (0x0FFFFFFF),
	[S6] [bigint] NOT NULL CONSTRAINT [DF__tbl_costume__S6__023B29C9]  DEFAULT ((0)),
	[T6] [int] NOT NULL CONSTRAINT [DF__tbl_costume__T6__032F4E02]  DEFAULT (0xFFFFFFFF),
	[K7] [int] NOT NULL CONSTRAINT [DF_tbl_costume_K7]  DEFAULT (0xFFFFFFFF),
	[D7] [bigint] NOT NULL CONSTRAINT [DF_tbl_costume_D7]  DEFAULT ((0)),
	[U7] [int] NOT NULL CONSTRAINT [DF_tbl_costume_U7]  DEFAULT (0x0FFFFFFF),
	[S7] [bigint] NOT NULL CONSTRAINT [DF__tbl_costume__S7__0423723B]  DEFAULT ((0)),
	[T7] [int] NOT NULL CONSTRAINT [DF__tbl_costume__T7__05179674]  DEFAULT (0xFFFFFFFF),
 CONSTRAINT [PK_tbl_costume] PRIMARY KEY CLUSTERED 
(
	[Serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  StoredProcedure [dbo].[pInsert_DailyRewardAccount]    Script Date: 08.07.2022 18:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--
CREATE procedure [dbo].[pInsert_DailyRewardAccount]
@accountserial int, 
@accountname VARCHAR(17)
as
SET NOCOUNT ON
insert into [dbo].[tbl_DailyReward] ( AccountSerial, AccountName, Day0, Day1, Day2, Day3, Day4, Day5, Day6, Day7, Day8, Day9, Day10, Day11, Day12, Day13, Day14, Day15, Day16, Day17, Day18, Day19, Day20, Day21, Day22, Day23, Day24, Day25, Day26, Day27, Day28, Day29, Day30 ) values ( @accountserial, @accountname, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 )
GO
/****** Object:  StoredProcedure [dbo].[pReset_DailyReward]    Script Date: 08.07.2022 18:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--
CREATE procedure [dbo].[pReset_DailyReward]
as
SET NOCOUNT ON
UPDATE [dbo].[tbl_DailyReward]
SET Day0 = 0,
Day1 = 0,
Day2 = 0,
Day3 = 0,
Day4 = 0,
Day5 = 0,
Day6 = 0,
Day7 = 0,
Day8 = 0,
Day9 = 0,
Day10 = 0,
Day11 = 0,
Day12 = 0,
Day13 = 0,
Day14 = 0,
Day15 = 0,
Day16 = 0,
Day17 = 0,
Day18 = 0,
Day19 = 0,
Day20 = 0,
Day21 = 0,
Day22 = 0,
Day23 = 0,
Day24 = 0,
Day25 = 0,
Day26 = 0,
Day27 = 0,
Day28 = 0,
Day29 = 0,
Day30 = 0

GO
/****** Object:  StoredProcedure [dbo].[pSelect_Storage]    Script Date: 08.07.2022 18:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[pSelect_Storage]
@serial int
AS
SELECT
StorageNum, 
K0,D0,U0,S0,T0,
K1,D1,U1,S1,T1,
K2,D2,U2,S2,T2,
K3,D3,U3,S3,T3,
K4,D4,U4,S4,T4,
K5,D5,U5,S5,T5,
K6,D6,U6,S6,T6,
K7,D7,U7,S7,T7,
K8,D8,U8,S8,T8,
K9,D9,U9,S9,T9,
K10,D10,U10,S10,T10,
K11,D11,U11,S11,T11,
K12,D12,U12,S12,T12,
K13,D13,U13,S13,T13,
K14,D14,U14,S14,T14,
K15,D15,U15,S15,T15,
K16,D16,U16,S16,T16,
K17,D17,U17,S17,T17,
K18,D18,U18,S18,T18,
K19,D19,U19,S19,T19,
K20,D20,U20,S20,T20,
K21,D21,U21,S21,T21,
K22,D22,U22,S22,T22,
K23,D23,U23,S23,T23,
K24,D24,U24,S24,T24,
K25,D25,U25,S25,T25,
K26,D26,U26,S26,T26,
K27,D27,U27,S27,T27,
K28,D28,U28,S28,T28,
K29,D29,U29,S29,T29,
K30,D30,U30,S30,T30,
K31,D31,U31,S31,T31,
K32,D32,U32,S32,T32,
K33,D33,U33,S33,T33,
K34,D34,U34,S34,T34,
K35,D35,U35,S35,T35,
K36,D36,U36,S36,T36,
K37,D37,U37,S37,T37,
K38,D38,U38,S38,T38,
K39,D39,U39,S39,T39,
K40,D40,U40,S40,T40,
K41,D41,U41,S41,T41,
K42,D42,U42,S42,T42,
K43,D43,U43,S43,T43,
K44,D44,U44,S44,T44,
K45,D45,U45,S45,T45,
K46,D46,U46,S46,T46,
K47,D47,U47,S47,T47,
K48,D48,U48,S48,T48,
K49,D49,U49,S49,T49,
K50,D50,U50,S50,T50,
K51,D51,U51,S51,T51,
K52,D52,U52,S52,T52,
K53,D53,U53,S53,T53,
K54,D54,U54,S54,T54,
K55,D55,U55,S55,T55,
K56,D56,U56,S56,T56,
K57,D57,U57,S57,T57,
K58,D58,U58,S58,T58,
K59,D59,U59,S59,T59,
K60,D60,U60,S60,T60,
K61,D61,U61,S61,T61,
K62,D62,U62,S62,T62,
K63,D63,U63,S63,T63,
K64,D64,U64,S64,T64,
K65,D65,U65,S65,T65,
K66,D66,U66,S66,T66,
K67,D67,U67,S67,T67,
K68,D68,U68,S68,T68,
K69,D69,U69,S69,T69,
K70,D70,U70,S70,T70,
K71,D71,U71,S71,T71,
K72,D72,U72,S72,T72,
K73,D73,U73,S73,T73,
K74,D74,U74,S74,T74,
K75,D75,U75,S75,T75,
K76,D76,U76,S76,T76,
K77,D77,U77,S77,T77,
K78,D78,U78,S78,T78,
K79,D79,U79,S79,T79,
K80,D80,U80,S80,T80,
K81,D81,U81,S81,T81,
K82,D82,U82,S82,T82,
K83,D83,U83,S83,T83,
K84,D84,U84,S84,T84,
K85,D85,U85,S85,T85,
K86,D86,U86,S86,T86,
K87,D87,U87,S87,T87,
K88,D88,U88,S88,T88,
K89,D89,U89,S89,T89,
K90,D90,U90,S90,T90,
K91,D91,U91,S91,T91,
K92,D92,U92,S92,T92,
K93,D93,U93,S93,T93,
K94,D94,U94,S94,T94,
K95,D95,U95,S95,T95,
K96,D96,U96,S96,T96,
K97,D97,U97,S97,T97,
K98,D98,U98,S98,T98,
K99,D99,U99,S99,T99
FROM [dbo].[tbl_storage]
WHERE Serial = @serial


GO
/****** Object:  StoredProcedure [dbo].[pSelect_Costume]    Script Date: 08.07.2022 18:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pSelect_Costume]
@serial int
AS
SELECT
K0,D0,U0,S0,T0,
K1,D1,U1,S1,T1,
K2,D2,U2,S2,T2,
K3,D3,U3,S3,T3,
K4,D4,U4,S4,T4,
K5,D5,U5,S5,T5,
K6,D6,U6,S6,T6,
K7,D7,U7,S7,T7

FROM [dbo].[tbl_costume]
WHERE Serial = @serial

GO